.recipe-card{
    margin: 5px;
    padding: 0px;
    border-radius: 6px;
    min-width: 15vw;
    background-color:#c89016;
    color:#fff;
    text-align: center;
}

.recipe-card h3 {
    font-size: 1.2vw;
}

.recipe-card .image {
    width: 100%;
}

.recipe-card img{
    border-radius: 6px;
    width: 14.7vw;
    object-fit: cover;
}

.recipe-card a:hover {
    text-decoration-line: none;
}