.single-recipe-detail-container{
    margin: 20px 0px;
    border-radius: 7px;
}
.step {
    border-radius: 7px;
    height: 90%;
    background-color: rgba(4, 93, 125, 0.482);
    padding: 1vw 7vw;
    text-align: left;
}
.single-recipe-detail-container h1{
    text-decoration: underline overline;
}
.step h3 {
    font-size: 2vw;
    text-shadow: 1px 0.5px rgba(255, 255, 255, 0.632);
}
.step img {
    margin: 5vh 0vh;
    width: 25vw;
    height: 30vh;
    border-radius: 4px;
}

.step p {
    font-size: 1.5vw;
}