.recipe-card{
    margin: 5px;
    padding: 0px;
    border-radius: 6px;
    min-width: 15vw;
    height: 25vh;
    background-color: rgba(218, 184, 153, 0.708);
    text-align: center;
}

.recipe-card h3 {
    font-size: 1.2vw;
}

.recipe-card .image {
    width: 100%;
}

.recipe-card img{
    border-radius: 6px;
    width: 14.7vw;
    object-fit: cover;
}

.recipe-card:hover{
    transition: .5s;
    transform: scale(1.05);
    overflow: visible;
    
}

a{
    text-decoration: none !important;
    color: white !important;
}