.single-carousel {
    height: 350px;
}
.description{
    background-color: rgba(104, 104, 104, 0.584);
    border-radius: 7px;
}
button{
    border:none;
    width: 10vw;
    height: 6vh;
    font-weight: bolder;
    color: #3fb0ac;
}
