.step-list{
    height: 80vh;
    overflow-y: scroll;
    margin-top: 8vh;
    padding: 20px 0px;
}
.step-list ul {
    list-style: none;
    padding: 0px;
    text-align: left;
}
.step-list li{
    font-size: 1.7vw;
    color: white;
    background-color: #FF6F61;
    background-size: contain;
    border-radius: 7px 0px 0px 7px;
    padding: 4px 5px;
    margin-bottom: 15px;
    margin-left: 2.6vw;
    box-shadow: 2px 3px rgba(255, 255, 255, 0.803);
}

.step-list li:hover{
    cursor: pointer;
}

.step-list .current-step {
    font-size: 1.7vw;
    color: white;
    text-align: left;
    background-color: rgb(22, 153, 176);
    background-size: contain;
    border-radius: 7px 0px 0px 7px;
    padding: 4px 7px;
    margin-bottom: 15px;
    margin-left: 1vw;
    transition: 0.5s;
}