.form-container{
    background: rgba(83, 83, 83, 0.685);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10101010101;
    position: absolute;
}

.form-container:hover{
    cursor: pointer;
}

.form-div{
    background: rgb(226, 221, 221);
    z-index: 10101010102;
    position: absolute;
    border-radius: 7px;
    margin-top: 15vh;
    margin-left: 25vw;
    height: 70vh;
    width: 50vw;
}

.form-div:hover{
    cursor: default;
}

.form{
    margin-top: 10vh;
}

.form-text{
    margin:0 auto;
    resize: none;
}