.form-container{
    background: rgba(83, 83, 83, 0.685);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10101010101;
    position: absolute;
}

.form-container:hover{
    cursor: pointer;
}

.form-div{
    background: rgb(226, 221, 221);
    z-index: 10101010102;
    position: absolute;
    border-radius: 7px;
    margin-top: 15vh;
    margin-left: 25vw;
    height: 70vh;
    width: 50vw;
}

.form-div:hover{
    cursor: default;
}

.form-button-container{
    width: 35vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    margin-top: 53vh;
}


.form-box{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 5vh;
    margin-left: 8vw
}

.form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.form-image-box{
    height:42vh;
    width:34vw;
    border: 2px dotted;
}

.form-image-box img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#form-image{
    width:28.7vw;
}

textarea {
    height:28vh;
    width:34vw;
    resize: none !important;
  }

#author-header{
    margin-top:2.5vh;
}