.sideBar{
    display: grid;
    grid-template-rows: 50% 50%;
    /* background-color: grey; */
    height: 80vh;
    border-radius: 8px;
    margin-top: 8vh;
    padding: 10px;
}

.ingredientList, .equipmentList {
    height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    
}
.ingredientList h4, .equipmentList h4{
    background-image: url(https://st3.depositphotos.com/1558912/19051/i/1600/depositphotos_190518736-stock-photo-food-cooking-ingredients-background-on.jpg);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20%;
    padding: 0px;
    text-shadow: 1px 1px #30302f5f;
    border-radius: 7px 7px 0px 0px;
}
.ingredientList ul, .equipmentList ul{
    text-shadow: 5px blue;
    height: 80%;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
    list-style: none;
    background-color: #dddfd4;
    overflow-y: scroll;
}

.ingredientList li {
    display:flex;
    justify-content: space-between;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 5px;
}

.currentStepStyle {
    border-radius: 6px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: rgb(242, 14, 14);
}
.equipmentList li {
    margin-bottom: 5px
}